{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    ["@babel/preset-typescript"]
  ]
  // "plugins": ["./babel-plugin-await-full-stacktrace.js", "source-map-support"]
}
